<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./css/icons.css.css">
</head>
<body>
     <header>
         <div class="container">
             <div class="h-inner py-4">
                 <section class="logo">
                     <a class="text-decoration-none fs-1 text-dark" href="#">Unite Demo</a>
                     <h5 class="my-10 ">FREE WordPress Wedding Theme</h5>
                 </section>
             </div>
         </div>
     </header>
   <nav class="navbar navbar-expand-lg navbar-light text-light ">
    <div class="container-fluid  px-5">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shortcodes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Full-Width Page</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
              <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Menu Options</a></li>
              <li><a class="dropdown-item" href="#"> Page Markup And Formatting</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Other</a></li>
              <li><a class="dropdown-item" href="#">Page Image Alignment</a></li>
              <li><a class="dropdown-item" href="#"> Clearing Floats</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container p-0">
    <div class="slider">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./img/weiler-photography-3.webp" class="d-block w-100" alt="first slide" height="500">
            <div class="carousel-caption d-none d-md-block">
              <h4>Bold and beautiful</h4>
              <p>
                Etiam vitae posuere eros. Maecenas et luctus orci. In a enim et sapien condimentum porttitor. 
                Morbi vel sodales nunc. Pellentesque adipiscing at elit sit amet iaculis. 
                Nunc porttitor dignissim erat, ac ultricies urna gravida in.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./img/pexels-photo-3689659.jpeg" class="d-block w-100" alt="second slide"  height="500">
            <div class="carousel-caption d-none d-md-block">
              <h5>Bold and beautiful</h5>
              <p> Etiam vitae posuere eros. Maecenas et luctus orci. In a enim et sapien condimentum porttitor. 
                Morbi vel sodales nunc. Pellentesque adipiscing at elit sit amet iaculis. 
                Nunc porttitor dignissim erat, ac ultricies urna gravida in.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./img/pexels-photo-1323550.jpeg" class="d-block w-100" alt="third slide"  height="500">
            <div class="carousel-caption d-none d-md-block">
              <h5>Bold and beautiful</h5>
              <p> Etiam vitae posuere eros. Maecenas et luctus orci. In a enim et sapien condimentum porttitor. 
                Morbi vel sodales nunc. Pellentesque adipiscing at elit sit amet iaculis. 
                Nunc porttitor dignissim erat, ac ultricies urna gravida in.
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <p style="text-align: center;"><strong>This is a regular Page</strong> and you can add any content here.</p>
        <p style="text-align: center;"><strong> Slider is optional</strong> and can be disabled.</p>
        <hr class="section-divider">
      </div>
    </div>
  </div>

  <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>