 
.navbar{
    background-color: #54397e;
}
.carousel-caption{
        left: 20px;
        text-align: left;
        padding-bottom: 20px;
    h4{
        background: rgba(#7154a1);
        padding: 15px;
        color: #fff;
        max-width: 55%;
        margin-bottom: 4px;
    }
}
